<template name="header">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Meteor goldenLayout</a>
      </div>

      <div class="collapse navbar-collapse" id="navigationbar">

        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Home</a></li>
          <li><a href="/golden">Golden Layout</a></li>
        </ul>

      </div>
    </div>
  </nav>

</template>
